.About_Section-About {
  display: flex;
  justify-content: center;
}

.About_Section-About-Container {
  max-width: 1300px;
}

.font-bold {
  font-weight: bold;
}
.About_Section-About-Container > h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.04em;
  color: #000000;

  margin-top: 20px;
  margin-bottom: 23px;
}

.About_Section-About-Container > span {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #000000;
}

.About_Section-About-Container > .About_Section-About_Sub-Content {
  margin-left: 62px;
  margin-top: 23px;
}

.About_Section-About-Container > .About_Section-About_Sub-Content > h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.04em;

  color: #000000;
}

.About_Section-About-Container > .About_Section-About_Sub-Content > p {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  margin-top: 23px;
  color: #000000;
}

.About_Section-Message {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 65px 0 65px;
}

.About_Section-Message > .About_Section-Message-Container {
  max-width: 1300px;
}

.About_Section-Message > .About_Section-Message-Container > span {
  text-align: center;
}

.About_Section-Message
  > .About_Section-Message-Container
  > .About_Section-Message_Work-Accept-Block {
  margin-top: 65px;
  background: rgba(157, 218, 225, 0.2);
  border-radius: 3px;
  padding: 68px;
  display: flex;
  align-items: center;
}

.About_Section-Message
  > .About_Section-Message-Container
  > .About_Section-Message_Work-Accept-Block
  > .Accept-Block_Text
  > h4 {
  font-weight: bold;
  color: #000000;
  margin-bottom: 35px;
}

.About_Section-Message
  > .About_Section-Message-Container
  > .About_Section-Message_Work-Accept-Block
  > .Accept-Block_Text
  > span {
  margin-right: 15px;
}

.About_Section-Message
  > .About_Section-Message-Container
  > .About_Section-Message_Work-Accept-Block
  > .Accept-Block_Button {
  background: linear-gradient(
    100.85deg,
    #ff0026 0.25%,
    rgba(240, 2, 73, 0.9) 97.6%
  );
  display: inline-block;
  width: 408px;
  border-radius: 7px;
  padding: 30px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 768px) {
  .About_Section-Message
    > .About_Section-Message-Container
    > .About_Section-Message_Work-Accept-Block {
    padding: 68px;
    justify-content: center;
    flex-direction: column;
  }

  .About_Section-Message
    > .About_Section-Message-Container
    > .About_Section-Message_Work-Accept-Block
    > .Accept-Block_Text {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.02em;
    margin-bottom: 35px;
  }

  .About_Section-Message
    > .About_Section-Message-Container
    > .About_Section-Message_Work-Accept-Block
    > .Accept-Block_Button {
    padding: 30 10px;
    width: auto;
  }
}
