.Services_Section-Services {
  padding-bottom: 54px;
  display: flex;
  justify-content: center;
}

.Services_Section-Services > .Services_Section-Services-Container {
  max-width: 1300px;
}

.Services_Section-Services > .Services_Section-Services-Container > h3 {
  margin: 33px 0;
  color: #000000;
}

.Services_Section-Services
  > .Services_Section-Services-Container
  > .Services_Section-Services_Services-Block {
  margin-top: 34px;
  margin-right: 0;
  margin-left: 0;
  border: 6px solid #ff0026;
  box-sizing: border-box;
  border-radius: 1px;
  padding: 60px 0 83px;
  display: flex;
  justify-content: space-evenly;
}

.Services_Section-Services
  > .Services_Section-Services-Container
  > .Services_Section-Services_Services-Block
  > .Service-Block_Item {
  /* margin-left: 20px; */
}

.Services_Section-Services
  > .Services_Section-Services-Container
  > .Services_Section-Services_Services-Block
  > .Service-Block_Item
  > h3 {
  font-weight: bold;
  margin-bottom: 15.5px;
}

.Services_Section-Services
  > .Services_Section-Services-Container
  > .Services_Section-Services_Services-Block
  > .Service-Block_Item
  > li {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.03em;
  margin-top: 6px;
}

.Section-Description {
  display: flex;
  justify-content: center;
}

.Section-Description > .Section-Description-Container {
  max-width: 1300px;
}

.Section-Description > .Section-Description-Container > h3 {
  text-transform: uppercase;
}

.Section-Description > .Section-Description-Container > h3 {
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .Services_Section-Services
    > .Services_Section-Services-Container
    > .Services_Section-Services_Services-Block
    > .Service-Block_Item {
    text-align: center;
  }
}
