html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
}

ul {
  list-style-type: none;
}

.generalPaddings {
  padding: 0 10px;
}

.mainTitleFont {
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 5.25rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}

.mainTitleFont2 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.7rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}

.mainTitleFont3 {
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 2.6rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

.mainTitleFont4 {
  font-size: 1.87rem;
  line-height: 2.6875rem;
  letter-spacing: 0.02rem;
}

.mainInfoFont {
  font-size: 1.875rem;
  line-height: 143.69%;
}

.mainInfoFont2 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  letter-spacing: 0.02rem;
}

.mainInfoFont3 {
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: 0.03rem;
}

.mainInfoFont4 {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: 0.02rem;
}

.mainInfoFont5 {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: 0.04rem;
}

.subtitleFont {
  font-size: 2.0625rem;
  line-height: 2.4375rem;
  letter-spacing: 0.03rem;
}

.inputFont {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: 0.03rem;
}

.listItemFont {
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0.03rem;
}

.subtextFont {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.01rem;
}

.Header {
  margin: 0 auto;
  max-width: 1300px;
}

.Header > .Header_Brand {
  font-family: Kaushan Script;
  font-size: 2.25rem;
  line-height: 3.25rem;
  color: #ff0026;
  transform: rotate(-7.33deg);
}

.Header_Icon {
  width: 50px;
  height: 50px;
}

.BreadCrumbs {
  color: rgba(0, 0, 0, 0.5);

  margin: 20px 0 20px 210px;
}

.Section-About {
  position: relative;
  min-height: 660px;
}

.Section-About > .Section-About-Bg {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("./assets/iceberg.png");
  background-size: auto 100%;
  opacity: 0.2;
}

.Section-About > .Section-About-Bg_Picture {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(110.36deg, #2ea0b2 1.31%, #0dcdd7 98.89%);
  opacity: 0.45;
}

.Section-About > .About_Container {
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Section-About > .About_Container > h2 {
  padding-top: 67px;
  margin-bottom: 69px;
  text-transform: uppercase;
  width: 100%;
  max-width: 1300px;
}

.Section-About > .About_Container > .About-Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Section-About > .About_Container > .About-Content > span {
  max-width: 1194px;

  line-height: 30px;
  text-align: center;
}

.Section-About > .About_Container > .About-Content > .About-List {
  display: flex;
  align-items: flex-end;
  margin-top: 68px;
}

.Section-About
  > .About_Container
  > .About-Content
  > .About-List
  .About-List_Img-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98px;
  margin-bottom: 12.5px;
}

.Section-About > .About_Container > .About-Content > .About-List > div {
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding: 0 25px;
}

.Section-About > .About_Container > .About-Content > .About-List img {
  width: 80px;
}

.Section-About > .About_Container > .About-Content > .About-List span {
  text-align: center;
}

.Section-Form {
  padding-top: 98px;
  padding-bottom: 112px;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    244.34deg,
    #152a33 0%,
    rgba(24, 47, 56, 0.8) 100%
  );
}

.Section-Form > .Section-Form-Container {
  max-width: 1300px;
}

.Section-Form > .Section-Form-Container > h2 {
  text-align: right;
  color: #ffffff;
}

.Section-Form > .Section-Form-Container > .Form-Contacts {
  margin: 63px 0 61px;
  display: flex;
  flex-direction: column;
}

.Section-Form > .Section-Form-Container > .Form-Contacts > span {
  text-align: right;
  margin-bottom: 39px;
  color: #ffffff;
}

.Section-Form .Section-Form-Container > form > .form-group > input {
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.Section-Form
  .Section-Form-Container
  > form
  > .form-group
  > input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.Section-Form .Section-Form-Container > form > .btn {
  text-align: right;
  letter-spacing: 0.01em;

  color: #ff0026;
}

.Footer {
  padding: 30px 0 50px;
  display: flex;
  justify-content: center;
}

.Footer > .Footer-Container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
}

.Footer > .Footer-Container > .Footer-Block {
}

.Footer > .Footer-Container > .Footer-Block > h5 {
  margin-bottom: 24px;
}

.Footer > .Footer-Container > .Footer-Block > ul > li {
}

.Footer > .Footer-Container > .Footer-Block > .Icons-Block img {
  width: 33px;
}

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

@media (max-width: 768px) {
  body {
    /* background-color: red; */
  }

  .hideOnSmall {
    display: block;
  }
  .Section-About > .About_Container > h2 {
    margin-left: 0px;
    text-align: center;
  }
}
