.Section-Title {
  position: relative;
  height: 700px;
  background: linear-gradient(
    252.1deg,
    rgba(189, 230, 248, 0.5) 0.97%,
    #a0d5dd 99.77%
  );
}

.Section-Title > .Section-Title_Carousel {
  height: 100%;
  position: relative;
  z-index: 2;
}

.Section-Title_Carousel img {
  width: 700px;
  height: 700px;
}

.Carousel_Img-Container-1 {
  width: 700px;
  height: 700px;
  position: relative;
}

.Carousel_Img-Container-1 > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  z-index: 1;
}

.Carousel_Img-Container-2 {
  width: 700px;
  height: 700px;
  position: relative;
}

.Carousel_Img-Container-2 > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -250px;
  width: 1200px;
  height: 640px;
}

.Section-Title .Title_Info-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Section-Title .Title_Info-block .Info-block_Text {
  background: #ddf2fb;
  padding: 16px 23px 27px;
}

.Title_Info-block.__block-3 {
  background: linear-gradient(
    250.54deg,
    rgba(189, 230, 248, 0.5) 0.97%,
    #bde6f8 99.77%
  );
  position: relative;
  height: 700px;
}

.Title_Info-block.__block-3 > .Info-block_Text {
  border: 5px solid #ffffff;
  box-shadow: 0px 4px 15px rgba(251, 199, 0, 0.25);
}

.Title_Info-block.__block-3 > .Info-block_Bg {
  background: url("./assets/slide-img-3.png");
  background-size: 100% 100%;
  transform: rotate(90deg);
  height: 100vw;
  width: 700px;
  position: absolute;
}

.Section-Servises {
  margin: 51px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Servises_Title {
  text-align: right;
}

.Section-Servises > .Section-Servises_Container {
  display: flex;
  align-items: center;
  max-width: 1300px;
}

.Section-Servises > .Section-Servises_Container > .Services-List {
  display: flex;
  justify-content: space-between;
}

.Section-Servises
  > .Section-Servises_Container
  > .Services-List
  > .Services-Item {
  height: 294px;
  border: 6px solid #ff0026;
  box-sizing: border-box;
  border-radius: 1px;
  position: relative;
  padding-left: 48px;
  margin-bottom: 86px;
}

.Section-Servises
  > .Section-Servises_Container
  > .Services-List
  > .Services-Item
  > h3 {
  position: absolute;
  background-color: #fff;
  max-width: 300px;
  margin-top: -17.5px;
  padding-left: 20px;
}

.Section-Servises
  > .Section-Servises_Container
  > .Services-List
  > .Services-Item
  > ul {
  margin-top: 82px;
}

.Section-Crew {
  margin: 53px 0 95px;
}

.Section-Crew > .Section-Crew_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Section-Crew > .Section-Crew_Container > h2 {
  width: 100%;
  max-width: 1300px;
}

.Section-Crew > .Section-Crew_Container > span {
  max-width: 985.56px;
  text-align: center;
  margin-top: 30px;
}

.Section-Crew > .Section-Crew_Container > .Crew-Persons {
  margin-top: 55px;
  display: flex;
  justify-content: center;
}

.Section-Crew > .Section-Crew_Container > .Crew-Persons > .Person_Item {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Section-Crew
  > .Section-Crew_Container
  > .Crew-Persons
  > .Person_Item
  > .Person_img-Container {
  width: 200px;
  height: 200px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.Section-Crew > .Section-Crew_Container > .Crew-Persons > .Person_Item > h4 {
  text-align: center;

  margin: 17px 0;
}

.Section-Crew > .Section-Crew_Container > .Crew-Persons > .Person_Item > span {
  text-align: center;
}

.Section-Crew
  > .Section-Crew_Container
  > .Crew-Persons
  > .Person_Item
  > .Person_Links {
  margin-top: 17px;
  display: flex;
}

.Section-Crew
  > .Section-Crew_Container
  > .Crew-Persons
  > .Person_Item
  > .Person_Links
  > img {
  width: 33px;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .Section-Servises {
    margin: 20px 10px;
    display: flex;
    align-items: center;
  }
  .Section-Title .Title_Info-block {
    overflow: hidden;
  }

  .Section-Title {
    height: auto;
  }

  .Servises_Title > h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  .Carousel_Img-Container-1 > img {
    left: -150px;
  }

  .Section-Servises > .Section-Servises_Container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .Section-Servises
    > .Section-Servises_Container
    > .Services-List
    > .Services-Item {
    /* border: 0px solid black; */
    margin: 0px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .Section-Servises
    > .Section-Servises_Container
    > .Services-List
    > .Services-Item
    > h3 {
    text-align: center;
    padding-left: 0;
    margin-top: -30.5px;
    font-size: 2rem;
  }

  .Section-Crew_Container {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .mainTitleFont1 {
    font-size: 2.3rem;
  }
  .mainTitleFont2 {
    font-size: 2.3rem;
  }

  .Section-Servises
    > .Section-Servises_Container
    > .Services-List
    > .Services-Item
    > h3 {
    /* margin-top: 0; */
  }

  .Section-Form > .Section-Form-Container > h2 {
    font-size: 2.5rem;
    text-align: center;
  }
}

@media (max-width: 1360px) {
  .Servises_Title > h2 {
    font-size: 2.5rem;
    line-height: 3.6rem;
  }
}
